@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid white;
} */

:root {
  font-family: Oswald;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.catalog_header:hover > .submenu {
  visibility: visible;
}

.form__input:not(:placeholder-shown) {
  border: 1px solid white;
}

#search:not(:placeholder-shown) {
  border: 0;
  border-bottom: 1px solid #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #040a0a inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rating__group {
  background-image: url("./assets/SVG/PagesSvg/BouquetSvg/RatingSvg/rating.svg");
  background-size: 2em auto;
}

#rating {
  margin: 0;
  font-size: inherit;
  background-size: 2em auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#rating:checked,
#rating:hover {
  background-image: url("./assets/SVG/PagesSvg/BouquetSvg/RatingSvg/ratingOn.svg");
}

#rating:hover ~ #rating {
  background-image: url("./assets/SVG/PagesSvg/BouquetSvg/RatingSvg/rating.svg");
}

#rating:focus {
  outline: none;
}

#rating:nth-of-type(1) {
  z-index: 5;
  width: 2em;
}
#rating:nth-of-type(2) {
  z-index: 4;
  width: 4em;
}
#rating:nth-of-type(3) {
  z-index: 3;
  width: 6em;
}
#rating:nth-of-type(4) {
  z-index: 2;
  width: 8em;
}
#rating:nth-of-type(5) {
  z-index: 1;
  width: 10em;
}
