@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  font-family: Oswald;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form__input:not(:placeholder-shown) {
  border: 1px solid white;
}

#search:not(:placeholder-shown) {
  border: 0;
  border-bottom: 1px solid #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #040a0a inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.rating__group {
  background-image: url("./assets/SVG/PagesSvg/BouquetSvg/RatingSvg/rating.svg");
  background-size: 2em auto;
}

#rating,
.star {
  margin: 0;
  font-size: inherit;
  background-size: 2em auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#rating:checked,
#rating:hover {
  background-image: url("./assets/SVG/PagesSvg/BouquetSvg/RatingSvg/ratingOn.svg");
}

#rating:hover ~ #rating {
  background-image: url("./assets/SVG/PagesSvg/BouquetSvg/RatingSvg/rating.svg");
}

#rating:focus {
  outline: none;
}

#rating:nth-of-type(1) {
  z-index: 5;
  width: 2em;
}
#rating:nth-of-type(2) {
  z-index: 4;
  width: 4em;
}
#rating:nth-of-type(3) {
  z-index: 3;
  width: 6em;
}
#rating:nth-of-type(4) {
  z-index: 2;
  width: 8em;
}
#rating:nth-of-type(5) {
  z-index: 1;
  width: 10em;
}

.star:nth-of-type(2) {
  left: 2em;
}

.star:nth-of-type(3) {
  left: 4em;
}

.star:nth-of-type(4) {
  left: 6em;
}

.star:nth-of-type(5) {
  left: 8em;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
}

.group__range_inputs:hover > input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  background: #43ffd2;
  border-radius: 50%;
  margin-bottom: 1px;
  width: 5px;
  height: 5px;
  pointer-events: auto;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  background: #43ffd2;
  border-radius: 50%;
  margin-bottom: 1px;
  width: 5px;
  height: 5px;
  pointer-events: auto;
  cursor: pointer;
}

.error_title {
  background: linear-gradient(
    180deg,
    rgba(22, 61, 143, 1) 0%,
    rgba(22, 61, 143, 1) 0%,
    rgba(79, 108, 171, 1) 54.6875%,
    rgba(182, 205, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
